anthropic==0.31.2
art==6.2
bpe==1.0
datasketch==1.6.5
diskcache==5.6.3
en-core-web-sm==3.7.1
google-cloud-aiplatform==1.60.0
google-generativeai==0.7.2
grpcio-status==1.62.2
interegular==0.3.3
langchain-community==0.3.28
langchain-mcp-adapters==0.1.9
langchain-openai==0.3.28
langgraph==0.5.4
langgraph-checkpoint-sqlite==2.0.10
latex2mathml==3.77.0
mistralai==0.4.2
pip==24.1.2
prometheus-fastapi-instrumentator==7.0.0
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow-hotfix==0.6
pycountry==24.6.1
s3transfer==0.10.2
sentence-transformers==3.0.1
uv==0.8.3
uvloop==0.19.0
watchfiles==0.22.0
wavedrom==2.0.3.post3
wheel==0.45.1
