openapi: 3.1.0
info:
  title: Mailgun API
  description: Mailgun API defined by OpenAPI Specification (OAS) 3.1.0
  version: 0.0.0
servers:
  - url: https://api.mailgun.net
    description: US Mailgun
  - url: https://api.eu.mailgun.net
    description: EU Mailgun
tags:
  - name: Messages
    description: >-
      Send email two ways via our REST API:

      1. Send emails using MIME format using a MIME building library

      2. Submit the individual parts (Text, html, attachments, etc.)


      Reminder: You can also send email via SMTP with Mailgun. Please reference
      the user manual.
    x-displayName: Messages
  - name: Domain Tracking
    description: >-
      Mailgun offers tracking for clicks, unsubscribes, and opens, with optional
      HTTPS protocol support on tracking URLs. To enable HTTPS, Mailgun uses
      Let’s Encrypt with HTTP-01 challenges through your existing tracking CNAME
      record to issue a TLS certificate. This setup also includes support for
      HTTP Strict Transport Security (HSTS) for enhanced security.
    x-displayName: Domain Tracking
  - name: Domain Connection
    description: >-
      A Domain Connection makes it easy for a user to configure DNS for a domain
      running at a DNS provider to work with a Service running at an independent
      Service Provider.
    x-displayName: Domain Connection
  - name: Domain Keys
    description: An authentication standard used to prevent email spoofing.
    x-displayName: Domain Keys
  - name: Domains
    description: Domains API manages domains, domain keys and DNS verification.
    x-displayName: Domains
  - name: Webhooks
    description: >-
      Webhooks API manages domain's webhooks. You can create, access and delete
      webhooks programmatically.
    x-displayName: Webhooks
  - name: DKIM Security
    description: >-
      Automatic Sender Security DKIM Key APIs. To enable this feature please see
      'Update a domain' API docs.
    x-displayName: DKIM Security
  - name: IPs
    description: >-
      The IP API endpoint allows you to access information regarding the IPs
      allocated to your Mailgun account that are used for outbound sending.
    x-displayName: IPs
  - name: IP Pools
    description: >-
      IP Pools allow you to group your dedicated IPs into customized "pools" to
      help manage your sending reputation for different mail sending streams.
    x-displayName: IP Pools
  - name: openapi-tower_other
    x-displayName: other
  - name: Events
    description: >-
      Mailgun keeps track of every inbound and outbound message event and stores
      this data for at least 3 days.<br><br>WARNING:<i> This API is deprecated
      in favor of our
      [Logs](https://documentation.mailgun.com/docs/mailgun/api-reference/openapi-final/tag/Logs/)
      API. </i>
    x-displayName: Events
  - name: Tags
    description: >-
      Mailgun lets you tag each outgoing message with a custom value. When you
      access stats on your messages, they will be aggregated by these tags.
    x-displayName: Tags
  - name: Stats
    description: >-
      Mailgun collects many different events and generates event statistics
      which are available in your Control Panel. This data is also available via
      our stats API endpoint.<br><br>WARNING:<i> This API is deprecated in favor
      of our
      [Metrics](https://documentation.mailgun.com/docs/mailgun/api-reference/openapi-final/tag/Metrics/)
      API. </i>
    x-displayName: Stats
  - name: openapi-scout_other
    x-displayName: other
  - name: Metrics
    description: >-
      Mailgun collects many different events and generates event metrics which
      are available in your Control Panel. This data is also available via our
      analytics metrics API endpoint.
    x-displayName: Metrics
  - name: Logs
    description: >-
      Mailgun keeps track of every inbound and outbound message event and stores
      this log data. This data can be queried and filtered to provide insights
      into the health of your email infrastructure.
    x-displayName: Logs
  - name: Unsubscribe
    description: >-
      Unsubscribe list stores email addresses of recipients who unsubscribed
      from your mailings by clicking a Mailgun generated unsubscribe link.
    x-displayName: Unsubscribe
  - name: Complaints
    description: >-
      Emaill addresses of recipients who marked your messages as a spam (for
      ESPs that support FBL).
    x-displayName: Complaints
  - name: Bounces
    description: >-
      Bounces - Bounce list stores events of delivery failures due to permanent
      recipient mailbox errors such as non-existent mailbox. Soft bounces (for
      example, mailbox is full) and other failures (for example, ESP rejects an
      email because it thinks it is spam) are not added to the list.
    x-displayName: Bounces
  - name: Whitelist
    description: >-
      The whitelist API provides the ability to whitelist specific addresses
      from being added to bounce list. You can whitelist by domain name (i.e
      example.com) or by specific address (i.e. alice@example.com). Mailgun
      doesn’t add an address to bounce list if the address is whitelisted. This
      API is very useful if you test against your private services and don’t
      want to constantly clean up bounce lists.
    x-displayName: Whitelist
  - name: openapi-blackbook_other
    x-displayName: other
  - name: Routes
    description: >-
      Define a list of routes to handle incoming emails. When a message matches
      a route expression, Mailgun can forward it on to your application via HTTP
      or another email address, or store the message temporarily (3 days) for
      subsequent retrieval.
    x-displayName: Routes
  - name: Mailing Lists
    description: Programatically create mailing lists.
    x-displayName: Mailing Lists
  - name: Templates
    description: >-
      This API allows you to store predefined templates and use them to send
      messages using the Sending API.
    x-displayName: Templates
  - name: Account Management
    description: Perform account-level CRUD operations.
    x-displayName: Account Management
  - name: Custom Message Limit
    description: >-
      The custom message limit imposes a hard limit on how many messages your
      account can send during a calendar month.
    x-displayName: Custom Message Limit
  - name: Subaccounts
    description: >-
      Mailgun supports the creation, modification, and deletion of subaccounts.
      A subaccount is a child account of a parent account. The parent account
      can have multiple subaccounts. The subaccounts are created and managed by
      the parent account.
    x-displayName: Subaccounts
  - name: Keys
    description: The Keys API lets you view and manage api keys.
    x-displayName: Keys
  - name: Credentials
    description: The Credentials API lets you view and manage SMTP credentials.
    x-displayName: Credentials
  - name: IP Allowlist
    description: >-
      The IP Allowlist API lets you view and manage allowlisted IP addresses to
      which api key and SMTP credential usage is restricted.
    x-displayName: IP Allowlist
  - name: Users
    description: Mailgun API supports viewing user entities.
    x-displayName: Users
paths:
  /v3/{domain_name}/messages:
    post:
      tags:
        - Messages
      summary: Send an email
      description: >-
        Pass the components of the messages such as To, From, Subject, HTML and
        text parts, attachments, etc. Mailgun will build a MIME representation
        of the message and send it. Note: In order to send you must provide one
        of the following parameters: 'text', 'html', 'amp-html' or 'template'
      operationId: POST-v3--domain-name--messages
      parameters:
        - name: domain_name
          in: path
          description: Domain name used to send the message
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/POST-v3-domain_name-messages-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-SendMessageResponse
              examples:
                Example:
                  value:
                    id: message-id
                    message: Queued. Thank you.
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: >-
                      A simple message describing the issue - A few examples:'to
                      parameter is not a valid address. please check
                      documentation.' 'Only one parameters 'html' or 'template'
                      is allowed.' 'Need at least one of 'text', 'html',
                      'amp-html' or 'template' parameters specified.' 'from
                      parameter is missing. ''Send options (parameters starting
                      with o:, h:, or v:) are limited to 16 kB total'
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/string'
              examples:
                Example:
                  value: Forbidden
        '429':
          description: A 429 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: >-
                      Domain example.com is not allowed to send:
                      account-requests-per-sec limit exceeded, try again after
                      120 seconds
        '500':
          description: A 500 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: Internal Server Error
      security:
        - basicAuth: []
  /v3/{domain_name}/messages.mime:
    post:
      tags:
        - Messages
      summary: Send an email in MIME format
      description: >-
        Build a MIME string yourself using a MIME library for your programming
        language and submit it to Mailgun.
      operationId: POST-v3--domain-name--messages-mime
      parameters:
        - name: domain_name
          in: path
          description: Domain name used to send the message
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/POST-v3-domain_name-messages-mime-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-SendMessageResponse
              examples:
                Example:
                  value:
                    id: message-id
                    message: Queued. Thank you.
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: >-
                      A simple message describing the issue - A few examples:'to
                      parameter is not a valid address. please check
                      documentation.' 'Only one parameters 'html' or 'template'
                      is allowed.' 'Need at least one of 'text', 'html',
                      'amp-html' or 'template' parameters specified.' 'from
                      parameter is missing. ''Send options (parameters starting
                      with o:, h:, or v:) are limited to 16 kB total'
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/string'
              examples:
                Example:
                  value: Forbidden
        '429':
          description: A 429 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: >-
                      Domain example.com is not allowed to send:
                      account-requests-per-sec limit exceeded, try again after
                      120 seconds
        '500':
          description: A 500 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: Internal Server Error
      security:
        - basicAuth: []
  /v3/domains/{domain_name}/messages/{storage_key}:
    get:
      tags:
        - Messages
      summary: Retrieve a stored email
      description: >-
        Event(s) created from sending an email with Mailgun will contain a
        `storage.key` to use to retrieve the email.
      operationId: GET-v3-domains--domain-name--messages--storage-key-
      parameters:
        - name: domain_name
          in: path
          description: Domain name that was used to send the email
          required: true
          schema:
            type: string
        - name: storage_key
          in: path
          description: Storage key from the emails associated events
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseBasicExample
              examples:
                Example:
                  value:
                    Content-Transfer-Encoding: 7bit
                    Content-Type: multipart/form-data; boundary=----SomeFormBoundaryABC123
                    From: foo.bar@my-domain.com
                    Message-Id: <xxxxxxxxxxxxx.111111111111111@my-domain.com>
                    Mime-Version: '1.0'
                    Subject: '"Mailgun is awesome"'
                    To: Cool Bar <cool.barr@cool.com>, bar.baz@gmail.com
                    X-Mailgun-Tag: Earth
                    sender: foo.bar@my-domain.com
                    recipients: cool.barr@cool.com, bar.baz@gmail.com
                    body-html: <html>This is some html</html>
                    body-plain: This is some html
                    stripped-html: <html>This is some html</html>
                    stripped-text: This is some html
                    stripped-signature: >-
                      the signature block stripped from the plain text message
                      (if found)
                    message-headers:
                      - - Mime-Version
                        - '1.0'
                      - - Subject
                        - '"Mailgun is awesome"'
                      - - From
                        - foo.bar@my-domain.com
                      - - To
                        - cool.barr@cool.com, bar.baz@gmail.com
                      - - X-Mailgun-Tag
                        - Earth
                      - - Message-Id
                        - <xxxxxxxxxxxxx.111111111111111@my-domain.com>
                      - - Content-Transfer-Encoding
                        - 7bit
                      - - Content-Type
                        - text/html; charset=ascii
                    X-Mailgun-Template-Name: my-awesome-template
                    X-Mailgun-Template-Variables: '{"name":"Foo","phrase":"Bar"}'
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseBadRequest
              examples:
                Example:
                  value:
                    message: Invalid storage key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: Message not found
      security:
        - basicAuth: []
  /v4/domains:
    get:
      tags:
        - Domains
      summary: Get domains
      description: >-
        Get the list of domains. Can be filtered by state or authority. Sorting
        is optional. The list is paginated and limited to 1000 items per page.
      operationId: GET-v4-domains
      parameters:
        - name: limit
          in: query
          description: 'Max count of items. Max: 1000. Default: 100'
          schema:
            type: integer
        - name: skip
          in: query
          description: 'Get the list of items starting at the nth element. Default: 0'
          schema:
            type: integer
        - name: state
          in: query
          description: >-
            To only get domains with a specific state. Can be either active,
            unverified or disabled.
          schema:
            type: string
        - name: sort
          in: query
          description: >-
            Valid sort options are `name` which defaults to asc order,
            `name:asc`, or `name:desc`. If sorting is not specified domains are
            returned in reverse creation date order.
          schema:
            type: string
        - name: authority
          in: query
          description: >-
            To only get domains with a specific authority. If state is specified
            then only state filtering will be proceed
          schema:
            type: string
        - name: search
          in: query
          description: >-
            Search domains by the given partial or complete name. Does not
            support wildcards
          schema:
            type: string
        - name: include_subaccounts
          in: query
          description: >-
            Search on every domain that belongs to any subaccounts under this
            account. Default to false.
          schema:
            type: boolean
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-ListDomainResponse
              examples:
                Example:
                  value:
                    total_count: 1
                    items:
                      - created_at: RFC1123 formatted date
                        id: '1'
                        name: example.com
                        state: unverified
                        type: custom
                        web_prefix: email
                        disabled:
                          code: blacklisted
                          note: for debugging
                          permanently: true
                          reason: bad customer
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
      security:
        - basicAuth: []
    post:
      tags:
        - Domains
      summary: Create a domain
      description: Creates a domain for sending emails
      operationId: POST-v4-domains
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/POST-v4-domains-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-CreateDomainResp
              examples:
                Example:
                  value:
                    message: Domain DNS records have been created
                    domain:
                      created_at: Thu, 13 Oct 2011 18:02:00 GMT
                      id: '123456789012345678901234'
                      name: example.com
                      require_tls: true
                      smtp_login: postmaster@example.com
                      spam_action: disabled
                      state: active
                      type: sandbox
                      use_automatic_sender_security: true
                      web_prefix: email
                      web_scheme: http
                    receiving_dns_records:
                      - cached: []
                        name: example.com
                        priority: '10'
                        record_type: MX
                        valid: unknown
                    sending_dns_records:
                      - cached:
                          - list
                          - of
                          - cached
                          - mx
                          - records
                        name: example.com
                        priority: '10'
                        record_type: A
                        valid: valid
                        value: 1.2.3.4
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
      security:
        - basicAuth: []
  /v4/domains/{name}:
    get:
      tags:
        - Domains
      summary: Get domain details
      description: >-
        Fetches json representation of a domain that includes details about the
        domain's state and settings.
      operationId: GET-v4-domains--name-
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to fetch
          required: true
          schema:
            type: string
        - name: h:extended
          in: query
          description: >-
            Default to false. If set to true, domain payload will include
            dkim_host, mailfrom_host and pod
          schema:
            type: boolean
        - name: h:with_dns
          in: query
          description: >-
            Default to true, domain payload will include sending and receiving
            dns records payload
          schema:
            type: boolean
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-FindDomainByNameResp
              examples:
                Example:
                  value:
                    domain:
                      created_at: Thu, 13 Oct 2011 18:02:00 GMT
                      id: '123456789012345678901234'
                      name: example.com
                      require_tls: true
                      smtp_login: postmaster@example.com
                      spam_action: disabled
                      state: active
                      type: sandbox
                      use_automatic_sender_security: true
                      web_prefix: email
                      web_scheme: http
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
    put:
      tags:
        - Domains
      summary: Update a domain
      description: >-
        Update domains configuration like smtp credentials, enable/disable
        automatic sender security, spam actions, wildcard, or tracking web
        scheme.
      operationId: PUT-v4-domains--name-
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v4-domains-name-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainResp
              examples:
                Example:
                  value:
                    domain:
                      created_at: Thu, 13 Oct 2011 18:02:00 GMT
                      id: '123456789012345678901234'
                      name: example.com
                      require_tls: true
                      smtp_login: postmaster@example.com
                      spam_action: disabled
                      state: active
                      type: sandbox
                      use_automatic_sender_security: true
                      web_prefix: email
                      web_scheme: http
                    receiving_dns_records:
                      - cached: []
                        name: example.com
                        priority: '10'
                        record_type: MX
                        valid: unknown
                    sending_dns_records:
                      - cached:
                          - list
                          - of
                          - cached
                          - mx
                          - records
                        name: example.com
                        priority: '10'
                        record_type: A
                        valid: valid
                        value: 1.2.3.4
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v4/domains/{name}/verify:
    put:
      tags:
        - Domains
      summary: Verify Domain
      description: >-
        Verify the domains DNS records (includes A, CNAME, SPF, DKIM and MX
        records) to ensure the domain is ready and able to send
      operationId: PUT-v4-domains--name--verify
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to verify
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-VerifyDomainResponse
              examples:
                Example:
                  value:
                    message: Domain DNS records have been updated
                    domain:
                      created_at: RFC1123 formatted date
                      id: '123456789012345678901234'
                      name: example.com
                      require_tls: true
                      smtp_login: postmaster@example.com
                      spam_action: disabled
                      state: unverified
                      type: sandbox
                      use_automatic_sender_security: true
                      web_prefix: email
                      web_scheme: http
                      disabled:
                        code: blacklisted
                        note: for debugging
                        permanently: true
                        reason: bad customer
                    sending_dns_records:
                      - cached:
                          - list
                          - of
                          - cached
                          - mx
                          - records
                        name: example.com
                        priority: '10'
                        record_type: the record type like CNAME, MX, DKIM, ...
                        valid: either valid or unknown
                        value: value from cache or name server
                    receiving_dns_records:
                      - cached:
                          - list
                          - of
                          - cached
                          - mx
                          - records
                        name: example.com
                        priority: '10'
                        record_type: the record type like CNAME, MX, DKIM, ...
                        valid: either valid or unknown
                        value: value from cache or name server
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
        '429':
          description: A 429 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
      security:
        - basicAuth: []
  /v3/domains/{name}:
    delete:
      tags:
        - Domains
      summary: Delete a domain
      description: >-
        The domain must not be disabled or used as an authority for an other
        domain. Sandbox domain can't be deleted.
      operationId: DELETE-v3-domains--name-
      parameters:
        - name: name
          in: path
          description: The name of the domain to delete
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain will be deleted in the background
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{name}/connection:
    get:
      tags:
        - Domain Connection
      summary: Get connection's details
      description: Returns domain's delivery connection settings.
      operationId: GET-v3-domains--name--connection
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to fetch
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-GetDomainConnectionResp
              examples:
                Example:
                  value:
                    require_tls: true
                    skip_verification: true
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
    put:
      tags:
        - Domain Connection
      summary: Update domain connection settings
      description: Update a domain's TLS connection settings.
      operationId: PUT-v3-domains--name--connection
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-connection-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainConnectionResp
              examples:
                Example:
                  value:
                    message: >-
                      Domain connection settings have been updated, may take 10
                      minutes to fully propagate
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{domain}/webhooks:
    get:
      tags:
        - Webhooks
      summary: Get all webhooks
      description: Listing urls of every webhooks under the domain.
      operationId: GET-v3-domains--domain--webhooks
      parameters:
        - name: domain
          in: path
          description: The name of the domain you want to get webhook from
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-GetAllDomainWebhooksResp
              examples:
                Example:
                  value:
                    webhooks:
                      clicked:
                        urls:
                          - https://foo.com
                      opened:
                        urls:
                          - https://foo.com
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
    post:
      tags:
        - Webhooks
      summary: Create a webhook
      description: >-
        Create a list of one or more urls provided by the `url` query params.
        Targeted webhook name is defined through the `id` param.
      operationId: POST-v3-domains--domain--webhooks
      parameters:
        - name: domain
          in: path
          description: The name of the domain you want to get webhook from
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/POST-v3-domains-domain-webhooks-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-CreateDomainWebhookResp
              examples:
                Example:
                  value:
                    message: Webhook has been created
                    webhook:
                      urls:
                        - https://foo.com
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericAPIError
              examples:
                Example:
                  value:
                    Reason: 'https://example.com/ is not a valid url: host not found'
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{domain_name}/webhooks/{webhook_name}:
    get:
      tags:
        - Webhooks
      summary: Get webhooks by type
      description: Get the list of url(s) for a webhook identified by its webhook_name.
      operationId: GET-v3-domains--domain-name--webhooks--webhook-name-
      parameters:
        - name: domain_name
          in: path
          description: The domain you want to get webhook for
          required: true
          schema:
            type: string
        - name: webhook_name
          in: path
          description: >-
            The webhook type you wish to retrieve. Valid types are accepted,
            clicked, opened, unsubscribed, delivered, permanent_fail,
            temporary_fail, complained
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-GetDomainWebhookResp
              examples:
                Example:
                  value:
                    webhook:
                      urls:
                        - https://foo.com
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
    put:
      tags:
        - Webhooks
      summary: Update a webhook
      description: >-
        Replace the list of urls by the given one with the `url` param. Here is
        the list of supported webhook: accepted, opened, clicked, unsubscribed,
        delivered, permanent_fail, temporary_fail and complained.
      operationId: PUT-v3-domains--domain-name--webhooks--webhook-name-
      parameters:
        - name: domain_name
          in: path
          description: The name of the domain you want to get webhook from
          required: true
          schema:
            type: string
        - name: webhook_name
          in: path
          description: The name of the webhook to update.
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-domain_name-webhooks-webhook_name-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-CreateDomainWebhookResp
              examples:
                Example:
                  value:
                    message: Webhook has been updated
                    webhook:
                      urls:
                        - https://foo.com
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericAPIError
              examples:
                Example:
                  value:
                    Reason: 'https://example.com/ is not a valid url: host not found'
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
    delete:
      tags:
        - Webhooks
      summary: Remove all webhooks by webhook type
      description: >-
        Empty the list of urls attached to a webhook name. It returns the list
        that have been removed.
      operationId: DELETE-v3-domains--domain-name--webhooks--webhook-name-
      parameters:
        - name: domain_name
          in: path
          description: The name of the domain you want to delete the webhook from
          required: true
          schema:
            type: string
        - name: webhook_name
          in: path
          description: >-
            The name of the webhook to delete. Supported webhook names are
            accepted, clicked, opened, unsubscribed, delivered, permanent_fail,
            temporary_fail, and complained.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-CreateDomainWebhookResp
              examples:
                Example:
                  value:
                    message: Webhook has been deleted
                    webhook:
                      urls:
                        - https://foo.com
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{name}/tracking:
    get:
      tags:
        - Domain Tracking
      summary: Get tracking settings
      description: >-
        Use to check if open, click and unsubscribe tracking are
        active/inactive.
      operationId: GET-v3-domains--name--tracking
      parameters:
        - name: name
          in: path
          description: The name of the domain to fetch tracking details for.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-GetDomainTrackingResp
              examples:
                Example:
                  value:
                    tracking:
                      open:
                        active: true
                      click:
                        active: true
                      unsubscribe:
                        active: true
                        html_footer: 'off'
                        text_footer: 'on'
                      web_scheme: http
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{name}/tracking/click:
    put:
      tags:
        - Domain Tracking
      summary: Update click tracking settings
      description: Use to turn on/off the click tracking at the domain level.
      operationId: PUT-v3-domains--name--tracking-click
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-tracking-click-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainTrackingClickResp
              examples:
                Example:
                  value:
                    message: Domain tracking settings have been updated
                    click:
                      active: true
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{name}/tracking/open:
    put:
      tags:
        - Domain Tracking
      summary: Update open tracking settings
      description: Use to turn on/off the open tracking at the domain level.
      operationId: PUT-v3-domains--name--tracking-open
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-tracking-open-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainTrackingOpenResp
              examples:
                Example:
                  value:
                    message: Domain tracking settings have been updated
                    open:
                      active: true
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{name}/tracking/unsubscribe:
    put:
      tags:
        - Domain Tracking
      summary: Update unsubscribe tracking settings
      description: Use to turn on/off the unsubscribe tracking at the domain level.
      operationId: PUT-v3-domains--name--tracking-unsubscribe
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-tracking-unsubscribe-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainTrackingUnsubscribeResp
              examples:
                Example:
                  value:
                    message: Domain tracking settings have been updated
                    unsubscribe:
                      active: true
                      html_footer: |
                        <br>
                        <p><a href="%unsubscribe_url%">unsubscribe</a></p>
                      text_footer: |+
                        To unsubscribe click: <%unsubscribe_url%>

        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v1/dkim/keys:
    get:
      tags:
        - Domain Keys
      summary: List keys for all domains
      description: >-
        List domain keys, and optionally filter by signing domain or selector.
        The page & limit data is only required when paging through the data.
      operationId: GET-v1-dkim-keys
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/GET-v1-dkim-keys-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-DomainKeyListResponse
              examples:
                Example:
                  value:
                    items:
                      - signing_domain: authority.domain.tld
                        selector: s1
                        dns_record:
                          is_active: true
                          cached:
                            - cached dns value
                          name: s1._domainkey.authority.domain.tld
                          record_type: TXT
                          valid: VALID
                          value: expected dns value
                      - signing_domain: authority.domain.tld
                        selector: s2
                        dns_record:
                          cached:
                            - cached dns value
                          name: s2._domainkey.authority.domain.tld
                          record_type: TXT
                          valid: UNKNOWN
                          value: expected dns value
                    paging:
                      previous: https://....
                      first: https://....
                      next: https://....
                      last: https://....
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
      security:
        - basicAuth: []
    post:
      tags:
        - Domain Keys
      summary: Create a domain key
      description: "Create a domain key. Note that once private keys are created or imported they are never exported.\nAlternatively, you can import an existing PEM file containing a RSA private key in PKCS #1, ASn.1 DER\n\t\t\t   format. Note, the pem can be passed as a file attachment or as a form-string parameter."
      operationId: POST-v1-dkim-keys
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/POST-v1-dkim-keys-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-DomainKeyResponse
              examples:
                Example:
                  value:
                    signing_domain: example.com
                    selector: s1
                    dns_record:
                      cached: []
                      name: s1._domainkey.example.com
                      record_type: TXT
                      valid: unknown
                      value: k=rsa; p=<public_key>
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
      security:
        - basicAuth: []
    delete:
      tags:
        - Domain Keys
      summary: Delete a domain key
      description: Domain keys are not recoverable after deletion so use with care
      operationId: DELETE-v1-dkim-keys
      parameters:
        - name: signing_domain
          in: query
          description: Signing Domain
          required: true
          schema:
            type: string
        - name: selector
          in: query
          description: Selector
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: success
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: >-
                      cannot delete domain key: must have at least one active
                      domain key
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: domain key not found
      security:
        - basicAuth: []
  /v4/domains/{authority_name}/keys/{selector}/activate:
    put:
      tags:
        - Domain Keys
      summary: Activate a domain key
      description: >-
        Activate a key to be used to DKIM sign emails with. Note: dns records
        must be valid for a domain key to be activated
      operationId: PUT-v4-domains--authority-name--keys--selector--activate
      parameters:
        - name: authority_name
          in: path
          description: >-
            The domain authority name you want to activate. Must be a valid
            domain
          required: true
          schema:
            type: string
        - name: selector
          in: path
          description: >-
            The selector you want to activate for the domain key. Must be a
            valid dot atom
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainKeyResp
              examples:
                Example:
                  value:
                    message: domain key activated
                    authority: authority.domain.tld
                    selector: selector
                    active: true
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: domain key not found
      security:
        - basicAuth: []
  /v4/domains/{authority_name}/keys:
    get:
      tags:
        - Domain Keys
      summary: List domain keys
      description: >-
        List all domain keys for your domain, including active/inactive and
        valid/invalid ones.
      operationId: GET-v4-domains--authority-name--keys
      parameters:
        - name: authority_name
          in: path
          description: >-
            The domain authority name you want to list the domain keys for. Must
            be a valid domain
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-DomainKeyListResponse
              examples:
                Example:
                  value:
                    items:
                      - signing_domain: authority.domain.tld
                        selector: s1
                        dns_record:
                          is_active: true
                          cached:
                            - cached dns value
                          name: s1._domainkey.authority.domain.tld
                          record_type: TXT
                          valid: VALID
                          value: expected dns value
                      - signing_domain: authority.domain.tld
                        selector: s2
                        dns_record:
                          cached:
                            - cached dns value
                          name: s2._domainkey.authority.domain.tld
                          record_type: TXT
                          valid: UNKNOWN
                          value: expected dns value
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
      security:
        - basicAuth: []
  /v4/domains/{authority_name}/keys/{selector}/deactivate:
    put:
      tags:
        - Domain Keys
      summary: Deactivate a domain key
      description: >-
        Deactivating for a specified authority and/or selector means a key won't
        be used for signing email anymore, even if they are valid.
      operationId: PUT-v4-domains--authority-name--keys--selector--deactivate
      parameters:
        - name: authority_name
          in: path
          description: >-
            The domain authority name you want to deactivate. Must be a valid
            domain
          required: true
          schema:
            type: string
        - name: selector
          in: path
          description: >-
            The selector you want to deactivate for the domain key. Must be a
            valid dot atom
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainKeyResp
              examples:
                Example:
                  value:
                    message: domain key deactivated
                    authority: authority.domain.tld
                    selector: selector
                    active: true
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: domain key not found
      security:
        - basicAuth: []
  /v3/domains/{name}/dkim_authority:
    put:
      tags:
        - Domain Keys
      summary: Update DKIM authority
      description: >-
        You can delegate the domain authority to an other domain. Domain's
        authority is set to itself by default.
      operationId: PUT-v3-domains--name--dkim-authority
      parameters:
        - name: name
          in: path
          description: The domain name
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-dkim_authority-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-ReassignDkimAuthorityResp
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{name}/dkim_selector:
    put:
      tags:
        - Domain Keys
      summary: Update a DKIM selector
      description: >-
        Selector is the unique identifier of your key. It has to be different
        from other keys selector.
      operationId: PUT-v3-domains--name--dkim-selector
      parameters:
        - name: name
          in: path
          description: The domain name
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-dkim_selector-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: DKIM selector changed
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{name}/message_ttl:
    put:
      tags:
        - Domains
      summary: Update the message TTL (time to live)
      description: >-
        Deprecated: please use PUT /v4/domains/{name} instead.Set both incoming
        and outgoing message retrieval TTL. The max TTL depends on your plan
      operationId: PUT-v3-domains--name--message-ttl
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-message_ttl-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-GetDomainSendingQueuesResp
              examples:
                Example:
                  value:
                    message: Domain message TTL settings updated.
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericAPIError
              examples:
                Example:
                  value:
                    Reason: >-
                      provided message_ttl of 300000 is too large. max
                      message_ttl for this account is 259200 seconds
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      deprecated: true
      security:
        - basicAuth: []
  /v3/domains/{name}/mailfrom_host:
    put:
      tags:
        - Domains
      summary: Update the mailfrom hostname
      description: >-
        Deprecated: please use PUT /v4/domains/{name} instead.Update the
        MAILFROM hostname used by default for emails sent using the domain.
      operationId: PUT-v3-domains--name--mailfrom-host
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-mailfrom_host-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: success
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      deprecated: true
      security:
        - basicAuth: []
  /v3/domains/{name}/web_prefix:
    put:
      tags:
        - Domains
      summary: Update domains web prefix
      description: >-
        Deprecated: please use PUT /v4/domains/{name} instead.This updates the
        web prefix used for a domain's tracking features.  This impacts click,
        open, and unsubscribe tracking features.  Note: Updating the web prefix
        for a domain will require also updating the domain's DNS to include the
        CNAME record to match.For example, if you set the web prefix to `zed`
        for the domain `my-domain.com`, the corresponding CNAME
        `zed.my-domain.com` will need to be created in your domain's dns zone.
      operationId: PUT-v3-domains--name--web-prefix
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-web_prefix-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain web prefix updated
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      deprecated: true
      security:
        - basicAuth: []
  /v3/domains/{name}/sending_queues:
    get:
      tags:
        - Messages
      summary: Get messages queue status
      description: Provides default and scheduled message queue information.
      operationId: GET-v3-domains--name--sending-queues
      parameters:
        - name: name
          in: path
          description: The name of the domain you want get sending queues from
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-GetDomainSendingQueuesResp
              examples:
                Example:
                  value:
                    regular:
                      is_disabled: true
                      disabled:
                        until: Mon, 02 Jan 2006 15:04:05 MST
                        reason: You have too many messages in queue
                    scheduled:
                      is_disabled: true
                      disabled:
                        until: Mon, 02 Jan 2006 15:04:05 MST
                        reason: You have too many messages in queue
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v1/dkim_management/domains/{name}/rotation:
    put:
      tags:
        - DKIM Security
      summary: Update Automatic Sender Security DKIM key rotation for a domain
      description: The minimum allowed interval for rotation is 5 days.
      operationId: PUT-v1-dkim-management-domains--name--rotation
      parameters:
        - name: name
          in: path
          description: The Domain name
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v1-dkim_management-domains-name-rotation-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-pendulum-api-DomainResponse
              examples:
                Example:
                  value:
                    domain:
                      id: '000000000000000000000002'
                      account_id: '000000000000000000000001'
                      sid: '789'
                      name: example.com
                      state: enabled
                      active_selector: pdk1
                      rotation_enabled: 'true'
                      rotation_interval: 24h
                      records:
                        - name: pdk1._domainkey.example.com
                          type: CNAME
                          identifier: DKIM
                          value: pdk1._domainkey.1234567.service.mailgun.com
                          comment: Customer DKIM CNAME Record
                        - name: pdk2._domainkey.example.com
                          type: CNAME
                          identifier: DKIM
                          value: pdk2._domainkey.1234567.service.mailgun.com
                          comment: Customer DKIM CNAME Record
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericAPIError
              examples:
                Example:
                  value:
                    Reason: >-
                      rotation_interval is not allowed unless also enabling DKIM
                      rotation
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-NotFoundError
              examples:
                Example:
                  value:
                    Description: domain not found
      security:
        - basicAuth: []
  /v1/dkim_management/domains/{name}/rotate:
    post:
      tags:
        - DKIM Security
      summary: Rotate Automatic Sender Security DKIM key for a domain
      description: >-
        Immediately rotate your DKIM key. This will trigger a rotation even if
        auto-rotation is disabled on the domain.
      operationId: POST-v1-dkim-management-domains--name--rotate
      parameters:
        - name: name
          in: path
          description: The Domain name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: ok
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericAPIError
              examples:
                Example:
                  value:
                    Reason: >-
                      only domains in enabled can rotate their keys. Current
                      state: wait_verify
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-NotFoundError
              examples:
                Example:
                  value:
                    Description: domain not found
      security:
        - basicAuth: []
  /v5/accounts/subaccounts/ip_pools:
    get:
      summary: List DIPPs delegated to subaccounts
      description: >-
        #### Description

        Lists all subaccounts of the parent account to which the parent account
        has

        delegated DIPPs.
      operationId: GET-v5-accounts-subaccounts-ip-pools
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-tower-api-subaccounts-ListSubaccountDIPPsResponse
              examples:
                Example:
                  value:
                    items:
                      - pool_id: '%!s(*string=0xc000e48b30)'
                        subaccount_id: 67be02a1c82088f844c5190f
                      - pool_id: '%!s(*string=0xc000e48b40)'
                        subaccount_id: 67be02a1c82088f844c51910
                    total_count: 2
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: account not found
      tags:
        - openapi-tower_other
      security:
        - basicAuth: []
  /v5/accounts/subaccounts/{subaccountId}/ip_pool:
    put:
      summary: Delegate a DIPP to a subaccount
      description: >-
        #### Description

        Initiates the process to delegate a DIPP to a subaccount. If the
        subaccount already

        has a DIPP delegated to it, that DIPP will be replaced. The success of
        this API call

        only indicates that the process has been started; it can still fail
        midway for

        various reasons.


        #### Request Schema

        Request parameters are encoded as form data.


        Name | Description | Required | Type

        --- | --- | --- | ---

        pool_id | Id of the DIPP to delegate | true | string
      operationId: PUT-v5-accounts-subaccounts--subaccountId--ip-pool
      parameters:
        - name: subaccountId
          in: path
          description: Id of the subaccount to delegate the DIPP to
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-tower-api-StartSagaResponse
              examples:
                Example:
                  value:
                    message: started
                    reference_id: 67be02a1c82088f844c51912
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: invalid request parameters
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: account not found
      tags:
        - openapi-tower_other
      security:
        - basicAuth: []
    delete:
      summary: Revoke a DIPP delegated to a subaccount
      description: >-
        #### Description

        Initiates the process to revoke a DIPP delegated to a subaccount. All
        domains linked

        to the DIPP will be unlinked.
      operationId: DELETE-v5-accounts-subaccounts--subaccountId--ip-pool
      parameters:
        - name: subaccountId
          in: path
          description: Id of the subaccount to revoke the DIPP from
          required: true
          schema:
            type: string
        - name: pool_id
          in: query
          description: Id of the DIPP to revoke
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-tower-api-StartSagaResponse
              examples:
                Example:
                  value:
                    message: started
                    reference_id: 67be02a1c82088f844c51911
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: invalid request parameters
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: account not found
      tags:
        - openapi-tower_other
      security:
        - basicAuth: []
  /v3/domains/{name}/ips/{ip}:
    delete:
      tags:
        - IPs
        - IP Pools
      summary: >-
        Remove an IP from the domain pool, unlink a DIPP or remove the domain
        pool
      description: >-
        The behavior of the endpoint depends on the value of the `ip` parameter.
        It can be

        one of the following:
         * a valid IP address: this IP address will be removed from the domain pool.
         * string `all`: the entire domain pool will be removed. As far as the system is
           concerned, such domain will no longer exist.
         * string `ip_pool`: the DIPP which is currently linked to the domain will be
           unlinked.

        ### Removing An IP

        Note that it's impossible to alter domain IPs if a DIPP is linked to the
        domain.


        If the account is not eligible for shared IPs, additional rules apply:
         * removing the last IP from the domain is not allowed;
         * if all of the remaining dedicated IPs are on warmup, an extra IP might be added to
           the domain pool.

        ### Unlinking The DIPP

        The account must have 'DIPPs' feature enabled.


        Either `ip` or `pool_id` query parameter must be specified, but not
        both.


        If the special value `shared` is used for the replacement IP, the
        account must be

        eligible for shared IPs. In this case the system will assign a shared IP
        as the

        replacement.
      operationId: DELETE-v3-domains--name--ips--ip-
      parameters:
        - name: ip
          in: path
          description: 'One of the following: `all`, `ip_pool` or a valid IP address.'
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: >-
            Domain name. Converted to `X-Mailgun-Domain-Id` header by the
            middleware.
          required: true
          schema:
            type: string
        - name: X-Mailgun-Account-Id
          in: header
          description: Account ID
          required: true
          schema:
            type: string
        - name: X-Mailgun-Requestor
          in: header
          description: Email address of the user making the request.
          required: true
          schema:
            type: string
        - name: X-Mailgun-Requestor-Client
          in: header
          description: Identifier of the client application making the request.
          required: true
          schema:
            type: string
        - name: ip
          in: query
          description: Replacement IP or special value `shared`.
          schema:
            type: string
        - name: pool_id
          in: query
          description: Replacement DIPP id.
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: success
      security:
        - basicAuth: []
  /v3/domains/{name}/pool/{ip}:
    delete:
      tags:
        - IPs
        - IP Pools
      summary: >-
        Remove an IP from the domain pool, unlink a DIPP or remove the domain
        pool
      description: >-
        The behavior of the endpoint depends on the value of the `ip` parameter.
        It can be

        one of the following:
         * a valid IP address: this IP address will be removed from the domain pool.
         * string `all`: the entire domain pool will be removed. As far as the system is
           concerned, such domain will no longer exist.
         * string `ip_pool`: the DIPP which is currently linked to the domain will be
           unlinked.

        ### Removing An IP

        Note that it's impossible to alter domain IPs if a DIPP is linked to the
        domain.


        If the account is not eligible for shared IPs, additional rules apply:
         * removing the last IP from the domain is not allowed;
         * if all of the remaining dedicated IPs are on warmup, an extra IP might be added to
           the domain pool.

        ### Unlinking The DIPP

        The account must have 'DIPPs' feature enabled.


        Either `ip` or `pool_id` query parameter must be specified, but not
        both.


        If the special value `shared` is used for the replacement IP, the
        account must be

        eligible for shared IPs. In this case the system will assign a shared IP
        as the

        replacement.
      operationId: DELETE-v3-domains--name--pool--ip-
      parameters:
        - name: ip
          in: path
          description: 'One of the following: `all`, `ip_pool` or a valid IP address.'
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: >-
            Domain name. Converted to `X-Mailgun-Domain-Id` header by the
            middleware.
          required: true
          schema:
            type: string
        - name: X-Mailgun-Account-Id
          in: header
          description: Account ID
          required: true
          schema:
            type: string
        - name: X-Mailgun-Requestor
          in: header
          description: Email address of the user making the request.
          required: true
          schema:
            type: string
        - name: X-Mailgun-Requestor-Client
          in: header
          description: Identifier of the client application making the request.
          required: true
          schema:
            type: string
        - name: ip
          in: query
          description: Replacement IP or special value `shared`.
          schema:
            type: string
        - name: pool_id
          in: query
          description: Replacement DIPP id.
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: success
      security:
        - basicAuth: []
  /v3/ips:
    get:
      tags:
        - IPs
      summary: List account IPs
      description: >-
        `assignable_to_pool` in response lists which IPs can be assigned to
        DIPPs; this

        field is present only if the account has 'DIPPs' feature enabled.


        `total_count` contains the number of items returned in `items` (this
        depends on the

        filters applied).
      operationId: GET-v3-ips
      parameters:
        - name: dedicated
          in: query
          description: Return only dedicated IPs
          schema:
            type: boolean
        - name: enabled
          in: query
          description: Return only enabled IPs
          schema:
            type: boolean
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/string'
              examples:
                Example:
                  value:
                    assignable_to_pools:
                      - 5.6.7.8
                    details:
                      - ip: 1.2.3.4
                        is_on_warmup: true
                      - ip: 5.6.7.8
                    items:
                      - 1.2.3.4
                      - 5.6.7.8
                    total_count: 2
      security:
        - basicAuth: []
  /v3/ips/{ip}:
    get:
      tags:
        - IPs
      summary: Get details about account IP
      operationId: GET-v3-ips--ip-
      parameters:
        - name: ip
          in: path
          description: IP address to get details about
          required: true
          schema:
            type: string
      responses:
[...]
